<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/bbsHome.css" />
		<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
		<script type="text/javascript" src="js/bbshome.js" ></script>
	</head>

	<body>
		<div id="wrap">
			<div id="box" ng-app="myApp">
				<!--top-->
				<section id="top">
					<a href="bbsLogin.html"><img src="img/b1_r2_c2.jpg" class="my" /></a>
					<img src="img/b1_r3_c8.jpg" class="logo" />
					<img src="img/b1_r2_c10.jpg" class="classify" />
				</section>
				<!--/top-->
				<!--留白-->
				<div class="empty">

				</div>
				<!--main-->
				<section id="main" class="main"  ng-controller="customersCtrl">
					<h5><i class="iconfont icon-weizhi"></i><b>主版</b><i class="iconfont icon-dragdown" ng-click="toggle()"></i></h5>
					<div class="mainInfo" ng-hide="hide">
						<a href="#">
							<dl>
								<dt><img src="img/b1_r10_c3.jpg"/></dt>
								<dd>
									<h6>南充楼市</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b1_r10_c3.jpg"/></dt>
								<dd>
									<h6>南充楼市</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b1_r10_c3.jpg"/></dt>
								<dd>
									<h6>南充楼市</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b1_r10_c3.jpg"/></dt>
								<dd>
									<h6>南充楼市</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b1_r10_c3.jpg"/></dt>
								<dd>
									<h6>南充楼市</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
					</div>
				</section>
				<!--/main-->
				<!--留白-->
				<div class="white">

				</div>
				<!--copy-->
				<section id="copy" class="main"  ng-controller="customersCtrl">
					<h5><i class="iconfont icon-weizhi"></i><b>主版</b><i class="iconfont icon-dragdown" ng-click="toggle()"></i></h5>
					<div class="mainInfo"  ng-hide="hide">
						<a href="#">
							<dl>
								<dt><img src="img/b2_r2_c2.jpg"/></dt>
								<dd>
									<h6>南充八卦</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b2_r2_c2.jpg"/></dt>
								<dd>
									<h6>稠都生活</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b2_r4_c2.jpg"/></dt>
								<dd>
									<h6>影像世界</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b2_r6_c2.jpg"/></dt>
								<dd>
									<h6>灌水专区</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b2_r6_c2.jpg"/></dt>
								<dd>
									<h6>论坛管理</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
					</div>
				</section>
				<!--/copy-->
				<!--留白-->
				<div class="white">

				</div>
				<!--union-->
				<section id="union" class="main"  ng-controller="customersCtrl">
					<h5><i class="iconfont icon-weizhi"></i><b>主版</b><i class="iconfont icon-dragdown" ng-click="toggle()"></i></h5>
					<div class="mainInfo" ng-hide="hide">
						<a href="#">
							<dl>
								<dt><img src="img/b2_r8_c2.jpg"/></dt>
								<dd>
									<h6>协会构架</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b2_r8_c2.jpg"/></dt>
								<dd>
									<h6>助学助残</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b2_r8_c2.jpg"/></dt>
								<dd>
									<h6>影像世界</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b2_r8_c2.jpg"/></dt>
								<dd>
									<h6>灌水专区</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
						<a href="#">
							<dl>
								<dt><img src="img/b2_r8_c2.jpg"/></dt>
								<dd>
									<h6>论坛管理</h6>
									<p><span>主题：1345</span> <span>回：4144</span></p>
								</dd>
							</dl>
						</a>
					</div>
				</section>
				<!--/union-->
				<!--author-->
				<section id="author">
					<p>
						<a href="#">首页</a>|
						<a href="#">登录</a>|
						<a href="#">注册</a>
					</p>
					<p>
						<a href="#" class="adisabled">触屏版</a>|
						<a href="#">电脑版</a>|
						<a href="#">客户端</a>
					</p>
					<p>© m.nfxx.cn</p>
				</section>
				<div class="empty1">

				</div>
				<!--bottomNav-->
				<nav class="navbar navbar-default navbar-fixed-bottom bottomNav">
					<div class="container">
						<a href="bbsHome.html">
							<i class="iconfont icon-shouye"></i>
							<span>首页</span>
						</a>
						<a href="bbsHome.html">
							<i class="iconfont icon-luntan"></i>
							<span>论坛</span>
						</a>
						<a href="bbsLogin.html">
							<i class="iconfont icon-jiahao-copy"></i>
							<span>发帖</span>
						</a>
						<a href="bbsSearch.html">
							<i class="iconfont icon-sousuo"></i>
							<span>搜索</span>
						</a>
						<a href="bbsVip.html">
							<i class="iconfont icon-wo"></i>
							<span>我</span>
						</a>
					</div>
				</nav>
				<!--/bottomNav-->
			</div>
			<div id="hidden">
				<div class="hidden1">
					<a href="index.html"><i class="iconfont icon-shouye"></i><span>主站</span></a>
					<a href="bbsHome.html"><i class="iconfont icon-luntan"></i><span>论坛</span></a>
					<a href="bbsSearch.html"><i class="iconfont icon-sousuo"></i><span>搜索</span></a>
				</div>
			</div>
		</div>

	</body>

</html>
<script type="text/javascript" src="lib/jquery.js"></script>
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
	new function() {
		document.documentElement.style.fontSize = innerWidth / 6.4 + "px";
		window.addEventListener("resize", function() {
			document.documentElement.style.fontSize = innerWidth / 6.4 + "px";
		}, false);
	};
</script>
<!--
<script type="text/javascript">

	//点击我的图标，调到登录页面
	
	//侧边栏的显示与隐藏
	var oClassify = document.getElementsByClassName('classify')[0];
	var oBox = document.getElementById('box');
	oClassify.onclick = function() {
		oBox.style.left
		if(oBox.style.left == "-2.66rem") {
			oBox.style.left = "0rem";
			window.onmousewheel = document.onmousewheel = function() {
				return true
			}
		} else {
			oBox.style.left = "-2.66rem";
			window.onmousewheel = document.onmousewheel = function() {
				return false;
			}
		}
	}
	

	//点击下拉箭头 显示或隐藏
	var aIconXialajiantou = document.getElementsByClassName('icon-dragdown');
	var oEmpty1 = document.getElementsByClassName('empty1')[0];
	
	for(var i = 0; i < aIconXialajiantou.length; i++) {
		aIconXialajiantou[i].onclick = function() {
			var now = this.parentNode.parentNode.getElementsByClassName('mainInfo')[0];
			if(now.style.display == "none") {
				now.style.display = "block";
			} else {
				now.style.display = "none";
			}

			//点击下拉箭头后，页面是否滚动
			//mainInfo若三个全为none，则不可以滚动
			var aMainInfo = document.getElementsByClassName('mainInfo');
			var count = 0;
			for(var i = 0; i < aMainInfo.length; i++) {
				if(aMainInfo[i].style.display == "none") {
					count++;

				}
			}
			if(count == 3) {
				window.onmousewheel = document.onmousewheel = function() {
					return false;
				}
				oEmpty1.style.height="5.21rem";
			} else {
				window.onmousewheel = document.onmousewheel = function() {
					return true;
				}
				oEmpty1.style.height="1rem";
			}

		}
	}

	//bottomNav
	var aBottomNav = document.getElementsByClassName('bottomNav')[0].children[0].children;
	var oldColor = aBottomNav[0].getAttribute('color');
	for(var i = 0; i < aBottomNav.length; i++) {
		aBottomNav[i].onclick = function() {
			for(var i = 0; i < aBottomNav.length; i++) {
				aBottomNav[i].style.color = oldColor;
			}
			this.style.color = "#f85959";
		}
	}
</script>-->