*{
	margin: 0;
	padding: 0;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	color: #333;
}
section{
	display: flex;
}
a{
	text-decoration: none;
	color: #333;
	
}
li{
	list-style: none;
}
#shopLiSst{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 0.2rem;
	background: #FAFAFA;
	box-sizing: border-box;
}
#shopLiSst a{
	display: flex;
	padding: 0rem 0.17rem;
	
}

#shopLiSst dl{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.8rem;
	width: 100%;
	border-bottom: 1px solid #eee;
	border-top: 1px solid white;
	
	
}
#shopLiSst .noborder{
	border-top: 0 none;
}
#shopLiSst dl+dl{
	
}
#shopLiSst img,#shopLiSst dt{
	width: 1.43rem;
	height: 1.07rem;
}
#shopLiSst dd{
	width: 4.37rem;
	height: 1.07rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#shopLiSst dd h5{
	font-size: 0.295rem;
	font-weight: normal;
}
#shopLiSst dd  p{
	display: flex;
	justify-content: space-between;
	color: #888;
}
