body {
	font-size: 12px;
	color: #666;
	font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
}

header {
	width: 375px;
	position: fixed;
	top: 0;
	z-index: 2;
	color: white;
}

header .row {
	height: 45px;
	line-height: 45px;
}

header .jd-search {
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 30px;
	height: 30px;
	margin-top: 7.5px;
	line-height: 30px;
	padding-left: 5px;
	color: #999;
}

header .jd-search i {
	padding-right: 5px;
}


/*轮播图*/

.jd-swiper .col-xs-12 {
	padding: 0;
}

.jd-swiper .col-xs-12 img {
	width: 100%;
}


/*.menu */

.menu {
	height: 147px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #666;
}

.menu .row {
	display: flex;
	justify-content: space-around;
}

.menu .col-xs-3 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.menu .col-xs-3 img {
	width: 40px;
	height: 40px;
	margin-bottom: 3px;
}

.space {
	height: 8px;
	background: #F5F5F5;
}


/*miaosha-up*/

.miaosha-up {
	height: 26px;
}

.miaosha-up i {
	display: inline-block;
	margin-top: 4px;
	width: 18px;
	height: 22px;
	background: url(../img/jd-sprites.png) -84px -109px no-repeat;
	background-size: 200px 200px;
	/* 设置背景图片的大小，相对原图缩小了2倍*/
	float: left;
}

.miaosha-up h2 {
	display: inline-block;
	font-size: 15px;
	color: #ca1327;
	margin: 6px 3px 0 4px;
	float: left;
}

.miaosha-up .time {
	float: left;
	margin: 6px 3px 0 4px;
}

.miaosha-up span {
	padding: 2px;
	margin-right: 3px;
	margin-left: 3px;
	background: black;
	color: white;
	border-radius: 5px;
}

.more {
	float: right;
	color: #666;
	line-height: 26px;
}


/*miaosha-down*/

.miaosha-down {
	width: 375px;
	height: 145px;
	overflow: hidden;
}

.miaosha-down .row {
	width: 2220px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.miaosha-down .row dl {
	width: 100px;
	height: 145px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.miaosha-down .row dt img {
	width: 74px;
	height: 86px;
}

.miaosha-down .row p {
	color: #ed5657;
	font-weight: bold;
	margin: 0;
}


/*proList*/

.proList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
}

.proList .topImg img {
	width: 123px;
	height: 152px;
}

.proList .downImg img {
	width: 186px;
	height: 94px;
}

.banImg {
	width: 100%;
	height: 105px;
	background: #F5F5F5;
}

.banImg img {
	width: 359px;
	height: 89px;
	margin: 8px;
}
h4{
	color: #f25353;
}

.featureList img{
	border-top: 1px solid #eee;
}
.featureList .first{
	
	height: 173px;
}
.featureList .second{
	
	height: 95px;
}
.featureList .third{
	height: 86px;
}
.featureList .col-xs-6{
	padding: 0;
}
.featureList div:nth-child(1) img{
	border-right: 1px solid #eee;
}


.theme .row .col-xs-6{
	padding: 0;
}
.theme .row div:first-child img{
	width: 188px;
	height: 215px;
}
.theme .row img:nth-child(1){
	width: 188px;
	height: 107px;
}
.theme .row img:nth-child(2),.theme img:nth-child(3){
	width: 92px;
	height: 107px;
}
.theme .row img{
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
}
.themeList {
	width: 375px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	
}
.themeList img{
	width: 94px;
	height: 107px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	margin-left: -1px;
}


/*brand*/
.brand .row{
	display: flex;
	justify-content: center;
	padding-bottom: 8px;
}
.brand .row img{
	border: 1px solid #eee;
	margin-left: -1px;
	height: 197px;
}



.banFullImg img{
	width: 375px;
	height: 130px;
}


.nimei .container-fluid{
	padding: 0;
}

.nimei{
	height: 44px;
	line-height: 44px;
	background: white;
}
.nimei .col-xs-3{
	text-align: center;
}
.nimei img{
	width: 57px;
	height: 44px;
}
