<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
	
<!--乐园-->
<section id="fairyland">
	<div class="div">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs happy" role="tablist">
			<li role="presentation" class="active">
				<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">分类</a>
			</li>
			<li role="presentation">
				<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">全程</a>
			</li>
			<li role="presentation">
				<a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">排序</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content tabContent">
			<div role="tabpanel" class="tab-pane active" id="tab1">
				<div class="inner">
					<a href="#">全部分类</a>
					<a href="#">密室</a>
					<a href="#">沙地</a>

					<a href="#">淘气堡</a>
					<a href="#">蹦极</a>
					<a href="#">亲水</a>

					<a href="#" class="noborder">攀爬</a>
					<a href="#" class="noborder">电动</a>
					<a href="#" class="noborder">设施</a>
				</div>
			</div>
			<div role="tabpane2" class="tab-pane" id="tab2">
				<div class="inner">
					<a href="#">全程</a>
					<a href="#">东城区</a>
					<a href="#">西城区</a>

					<a href="#">崇文区</a>
					<a href="#">玄武区</a>
					<a href="#">朝阳区</a>

					<a href="#">丰台区</a>
					<a href="#">石景山区</a>
					<a href="#">海淀区</a>

					<a href="#">门头沟区</a>
					<a href="#">房山区</a>
					<a href="#">通州区</a>

					<a href="#">顺义区</a>
					<a href="#">昌平区</a>
					<a href="#">大兴区</a>

					<a href="#">怀柔区</a>
					<a href="#">平谷区</a>
					<a href="#">密云县</a>

					<a href="#" class="noborder">延庆县</a>
				</div>
			</div>
			<div role="tabpane3" class="tab-pane" id="tab3">
				<div class="inner">
					<a href="#">默认排序</a>
					<a href="#">离我最近</a>
					<a href="#">销量最高</a>

					<a href="#" class="noborder">销量最低</a>
				</div>
			</div>
		</div>
	</div>
	<div class="shade">

	</div>

	</div>
</section>
<!--/乐园-->
<!--默认活动-->
<section id="defaultImg">
	
</section>