<section id="headerIcon">
	<a href="#">
		<img src="img/a8_1.jpg" />
		<img src="img/erweima.png" class="erweima" />
		<img src="img/a8_1.jpg" class="blur" />

	</a>
</section>
<section id="myList">
	<ul>
		<li>
			<a href="#"><span>我是代言人</span><span>&gt</span></a>
		</li>
		<li>
			<a href="#"><span>我的订单</span><span>&gt</span></a>
		</li>
		<li>
			<a href="#"><span>我的优惠券</span><span>&gt</span></a>
		</li>
		<li>
			<a href="#"><span>我的账户</span><span>&gt</span></a>
		</li>
		<li>
			<a href="#"><span>玩乐商城</span><span>&gt</span></a>
		</li>
		<li>
			<a href="#"><span>我要吐槽</span><span>&gt</span></a>
		</li>
	</ul>
</section>