#ad1 {
	height: 120px;
}

.ad1 img {
	width: 960px;
	height: 120px;
}

.red {
	color: red;
	text-decoration: none;
}


/*全部*/

.all {
	height: 42px;
	line-height: 42px;
}


/*speed-top*/

.speed-top {
	padding-left: 20px;
	height: 122px;
	border: 1px solid #FFDB84;
	background: #FFF9D6;
}

.speed-top p {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	margin-left: 10px;
}

.speed-top a {
	color: #2e74d3;
	margin: 0px 10px;
	line-height: 24px;
	white-space: nowrap;
	word-break: keep-all;
}

.speed-top a:hover {
	color: red;
}

.speed-top .nolink {
	color: #666666;
	text-decoration: none;
}

.speed-top .nolink:hover {
	color: black;
}


/*bottom*/
.con2{
	width: 940px;
	margin: 0 auto;
}
.speed-bottom {
	padding-left: 20px;
	padding-top: 20px;
	height: 108px;
	border: 1px solid #DFDFE1;
	border-top: 0 none;
}

.speed-bottom a {
	display: inline-block;
	padding: 0px 5px;
	color: #2e74d3;
	margin: 0px 10px 10px;
	line-height: 24px;
	white-space: nowrap;
	word-break: keep-all;
}

.speed-bottom .speact,
.speed-bottom a:hover {
	background: #2E74D3;
	color: white;
	border-radius: 3px;
	text-decoration: none;
}

.speed-bottom .fang {
	margin-left: 46px;
}

.weizhi {
	width: 233px;
	height: 27px;
	border: 1px solid #FF900E;
	hyphenate-limit-lines: ;
	margin-left: 46px;
	text-indent: 15px;
}

.nabtn {
	width: 72px;
	height: 29px;
	background: #FF9A14;
	color: white;
	font-weight: bold;
}


/*活动列表*/

.litboder>li {
	border: 0 none;
	border-bottom: 1px solid #E8E6DF;
}

.litboder div a {
	color: #999;
	text-decoration: underline;
}

.litboder div .chat {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 7px;
	vertical-align: bottom;
	background: url(../img/360chat.png) no-repeat -21px -1px;
}

.nolineheight div {
	height: 68px;
	line-height: 21px;
	margin-top: 10px;
}
.nolineheight .dd-sec1{
	width: 382px;
}
.nolineheight .dd-third1{
	width: 140px;
}
.nolineheight .dd-third1 select{
	border: 1px solid #FAFAFA;
	
	margin-top: 5px;
}
.nolineheight .dd-third1 select,.nolineheight .dd-third1 option{
	width: 141px;
	height: 25px;
	text-align: center;
	color: #999;
	text-align: center;
}
.nolineheight .oran{
	color: #FF9100;
}
.dd-four{
}

/*翻页按钮*/
.active-bottom1{
	 margin-left: 119px;
	 margin-top: 6px;
}
.pro1{
	height: 1557px;
	width: 960px;
}
/*活动列表*/
#act1{
	height: 1470px;
}
.act1{
	height: 1426px;
}
/*右侧列表*/
.wei1{
	width: 172px;
	height: 967px;
	border: 1px solid #DFDFE1;
}
.wei h4{
	padding-left: 20px;
	height: 35px;
	line-height: 35px;
	border-bottom: 2px solid #4BAC20;
}
.wei1 img{
	width: 70px;
	height: 70px;
	border: 1px solid #E6E6E6;
	margin: 20px 50px 5px;
}
.wei1 p{
	width: 130px;
	text-align: center;
	margin-left: 20px;
}
.wei1 span{
	display: inline-block;
	width: 172px;
	text-align: center;
	color: red;
}
#prolist{
	height: 1555px;
}















