a{
	text-decoration: none;
	color: #333;
}
li{
	list-style: none;
}
*{
	margin: 0;
	padding: 0;
}
.coccc{
	color: #CCCCCC;
}

body{
	width: 640px;
	margin: 0 auto;
	font-size: ;
}

/*header*/
#header{
	width: 640px;
	height: 98px;
	background: #FF5000;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#header div{
	display: flex;
	width: 52px;
	flex-direction: column;
	flex-wrap: wrap;
	color: white;
	align-items: center;
}
#header img{
	width: 52px;
	height: 46px;
}
#header input{
	width: 376px;
	height: 62px;
	text-align: center;
}


/*list*/
#list{
	width: 613px;
	height: 286px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-bottom: 1px solid #ccc;
}

#list ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#list ul a{
	display: flex;
	width: 82px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#list ul a span{
	margin-top: 10px;
}
/*firstNews*/
#firstNews{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px;
}
#firstNews div{
	flex-grow: 1;
	
}
#firstNews img{
	padding-right: 25px;
	border-right: 1px solid #ccc;
}
#firstNews ul{
	flex-grow: 4;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}
#firstNews ul span{
	padding: 3px 7px;
	border: 1px solid #f40;
	border-radius: 5px;
	margin-right: 10px;
}
/*space*/
#spce{
	width: 100%;
	height: 10px;
	background: #EEEEEE;
}
/*buy*/
#buy{
	width: 100%;
	height: 310px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.half{
	width: 243px;
	height: 310px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-right: 1px solid #ccc;
}
.half img:first-child{
	width: 127px;
	height: 32px;
}
.half img:last-child{
	width: 187px;
	height: 168px;
}
.goods{
	display: flex;
	width: 397px;
	flex-direction: column;
	justify-content: space-around;
}
.goodTop{
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.goodTop,.goodBottom{
	display: flex;
	width: 397px;
	flex-direction: row;
	justify-content: space-around;
}
.goodBottomL img:last-child,.goodBottomR img:last-child{
	transform: translate(20px,5px);
	
}
.goodBottomR{
	padding-left: 50px;
	border-left: 1px solid #CCCCCC;
}

.goodTop a{
	color: #B1D2EB;
}

/*img*/
#img{
	height: 190px;
}


















