<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="myCtrl">
			<input type="text" ng-model="name"/>
			<input type="text" ng-model="age"/>
			<!--<p>调用控制器里的函数：{{info()|uppercase}}</p>-->
			<p>调用控制器里的函数：{{info()|lowercase}}</p>
		</div>
		<script type="text/javascript">
			var app=angular.module('myApp',[]);
			app.controller("myCtrl",function($scope){
				$scope.name="Youyuanyuan";
				$scope.age=10;
				$scope.info=function(){
					//注意变量前加上$scope
					return $scope.name+" "+$scope.age;
				}
			})
			
		</script>
	</body>
</html>
